---
layout: layouts/home.njk
eleventyNavigation:
  key: 首頁
  order: 1
---
<h1>Victory Kidult Academy 感覺統合評估及訓練中心</h1>
<h2>本中心主要服務範疇：</h2>
{% set postslist = collections.courses %}
{% include "post2slist.njk" %}
<hr>
{% include "carousel.njk" %}
{% include "buttons.njk" %}
{% set maxPosts = collections.posts.length | min(3) %}
<h1>最新 {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} 篇文章{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>所有文章分享在 <a href="{{ '/posts/' | url }}">資源</a>.</p>
