---
layout: layouts/home.njk
permalink: /services/
eleventyNavigation:
  key: 到校服務
  order: 4
---

<h1>一站式到校訓練及興趣班小組</h1>
<p>我們提供一站式幼稚園、小學、中學到校感統、體能訓練、兒童遊戲及運動體適能、跆拳道、瑜伽、拳擊、舞蹈、感覺整合等課程及興趣班。</p>
<a href="https://bit.ly/3wxJa1P" class="button">按此聯絡及索取報價</a>
{% set postslist = collections.services %}
{% include "postslist.njk" %}
<hr>
{{ metadata.description }}
<p>歡迎各大機構合作舉辦不同類型的課程及租借場地。</p>
