<h1>熱門課程</h1>
<ul class="categories">
    <li class="categories-snippet">
        <a href="/tags/sensory/"><img src="/assets/icon-1.png" alt="sensory integration" class="snippet__icon" style="background: #3ea6bd"></a>
        <p class="snippet__name">感覺統合</p>
    </li>
    <li class="categories-snippet">
        <a href="/tags/yoga/"><img src="/assets/icon-2.png" alt="yoga" class="snippet__icon" style="background: #1b2b56"></a>
        <p class="snippet__name">瑜伽教室</p>
    </li>
    <li class="categories-snippet">
        <a href="/tags/physical-fitness/"><img src="/assets/icon-3.png" alt="sports" class="snippet__icon" style="background: #f0c91e"></a>
        <p class="snippet__name">運動體適能</p>
    </li>
</ul>
