<div aria-label="Featured-Programmes">
    <h1>宣傳刊物及單張</h1>
    <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
    <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
    <ul data-slides>
        <li class="slide" data-active>
        <img src="/photos/slide-01.JPG" alt="Image #1">
        </li>
        <li class="slide">
        <img src="/photos/slide-02.JPG" alt="Image #2">
        </li>
        <li class="slide">
        <img src="/photos/slide-03.JPG" alt="Image #3">
        </li>
        <li class="slide">
        <img src="/photos/slide-04.JPG" alt="Image #3">
        </li>
        <li class="slide">
        <img src="/photos/slide-05.JPG" alt="Image #3">
        </li>
        <li class="slide">
        <img src="/photos/slide-06.JPG" alt="Image #3">
        </li>
        <li class="slide">
        <img src="/photos/slide-07.JPG" alt="Image #3">
        </li>
        <li class="slide">
        <img src="/photos/slide-08.JPG" alt="Image #3">
        </li>
    </ul>
    </div>
</div>
